body{
  background-color: #3B3B3B;
  color: white;
  padding-top: 7vh;
}

img{
  max-width: 40%;
  height: auto;
}

.logo{
  justify-content: center;
  display: flex;
}

.ip{
  justify-content: center;
  display: flex;
}
